/* got rid of underlines on */
a.no-under {
    text-decoration: none;
}
/* centered images on card panel */
.icon-l {
    padding-left: 7rem !important
}

.icon-r {
    padding-right: 7rem !important
}
/* enhanced shadow on card */
.strong-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}
/* made text smaller and increased line height, copied from Pandas documentatioin */

/* this can and should change with diff themes */

.containme {
    padding-top: 60px;
}

.containme2 {
    padding-top: 50px
}

aside {position: sticky;} 

.stickme {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

p {
    margin-bottom: 1.15rem;
    font-size: 15px;
    line-height: 1.6;
}

p.card-text {
    margin-bottom: 1.15rem;
    font-size: 1em;
    line-height: 1.5
}
/* 
p.margin-top {
    padding-top: 0.50em;
} */


.left {
    padding-left: 30px;
    left: 30px;
    position: relative;
}

.hard-left {
    padding-left: 50px;
    left: 50px;
    position: relative;
}

    /* nav.navbar-main {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;    
    margin-left: auto;    
    width: 100%;
    height: 60px;
    z-index: 1000;
    vertical-align: middle;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
} */

nav.short {
    height: 60px;
}

/* 
img.navbar-brand-logo {
    margin-left: 90px;
} */

/* a.logo-title {
    align-items: center;
} */

/* div.navbar-center {
    position: relative;
    left: 90px;
} */

.line{
    display: inline-block;
    
}

/* a.nav-link {
    text-decoration: none;
    color: black;
} */

/* div.right-icon {
    padding-right: 210px;
} */

/* div.navbar-right-item {
    position: relative;
    display: inline;
    vertical-align: middle;
    align-items: center;
} */

/* img.icon-middle{
    vertical-align: middle;
    align-items: center;
} */


/* a.icon-link {
    vertical-align: middle;
    align-items: center;
} */

/* i.icon-img {
    vertical-align: middle;
    padding-bottom: 5px;
} */

nav * {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1400px) {
    .navbegone{
        display: none;
        visibility: hidden;
    }
}

.inline-toggle {
    display: inline;
    vertical-align: middle;
    align-items: center;
}

/* .card * {
    background-color: ;
} */

/* @media (min-width:960px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
}


.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto
} */

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}

body[data-theme=dark] {
    --color-navbar-color: white;
    --color-navbar-background: #282828;
    --color-navbar-title: white;
    --icon-color: white;    
    --color-hover-nav: #59a1eb;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0);
}



body{
    --color-navbar-color: #212121;
    --color-navbar-background: rgb(255, 255, 255);
    --color-navbar-title: #212121;    
    --color-hover-nav: #2962ff;
    
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--color-navbar-colors);
}

.nav-link {
    font-size: calc(1.05*var(--font-size--small));
}

.navbar-brand {color: var(--color-navbar-title)}


.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
    color: var(--color-hover-nav)
}

.hov:hover, .hov:focus {
    text-decoration: none;
    color: var(--color-hover-nav)
}

.fa {color: var(--icon-color)}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 1030; */
    background: var(--color-navbar-background);
}

.padme {
    padding-left: 100px;
}

.navbottom {
    padding-bottom: 20px;
}

.linkalign {
    padding-bottom:5px
}

.card-img-pad {
    padding-top: 20px
}

h1 {
    font-size: 1.75em;
    margin-bottom: 0.5em
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.sidefont {
    font-size: 13px;
}

.content aside {
    display: flex;
    flex-wrap: wrap;
}

.contetn b {
    font-size: 15px
}

.content li {
    font-size: 15px
}

.content strong {
    font-size: 15px
}   

ul {
    list-style-position: outside;
}

ol {
    list-style-position: outside;
}

:target::before {
    content: '';
    display: block;
    height:      80px;
    margin-top: -80px;
}