body {
    zoom: 40%;
}

a.no-under {
    text-decoration: none;
}

.icon-l {
    padding-left: 7rem !important
}
.icon-r {
    padding-right: 7rem !important
}

.strong-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.containme {
    padding-top: 80px;
}

.containme2 {
    padding-top: 70px
}


@media (max-width: 67em){
    .sidebar-drawer {
    height: 100vh;
    left: -20em;
    position: fixed;
    top: 0;
    width: 15em;
    }
    .content {
        padding-top: 0px;
    }
    .bd-sidebar{
        background-color: white;
    }
    .containme {
        padding-top: 0px
    }
    img {
        display: block;
    }
    table {
        table-layout: fixed;
    }
    td{
        overflow: hidden; 
        width: 100%;
        text-overflow: ellipsis; 
        word-wrap: break-word;
    }
    }

@media (min-width: 68em){
    .content {
        padding-top: 20px;
    }
    
}

/* aside {position: sticky;}  */

.stickme {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

p {
    margin-bottom: 1.15rem;
    font-size: 15px;
    line-height: 1.6;
}

p.card-text {
    margin-bottom: 1.15rem;
    font-size: 1em;
    line-height: 1.5
}


.left {
    padding-left: 30px;
    left: 30px;
    position: relative;
}

nav.short {
    height: 60px;
}


nav * {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1400px) {
    .navbegone{
        display: none;
        visibility: hidden;
    }
}




@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}

body[data-theme=dark] {
    --color-navbar-color: white;
    --color-navbar-background: #282828;
    --color-navbar-title: white;
    --icon-color: white;    
    --color-hover-nav: #59a1eb;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0);
}



body{
    --color-navbar-color: #212121;
    --color-navbar-background: rgb(255, 255, 255);
    --color-navbar-title: #212121;    
    --color-hover-nav: #2962ff;
    
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--color-navbar-colors);
}

.nav-link {
    font-size: calc(1.05*var(--font-size--small));
}

.navbar-brand {color: var(--color-navbar-title)}


.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
    color: var(--color-hover-nav)
}

.hov:hover, .hov:focus {
    text-decoration: none;
    color: var(--color-hover-nav)
}

.fa {color: var(--icon-color)}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--color-navbar-background);
}


.padme {
    padding-left: 100px;
}
 
.navbottom {
    padding-bottom: 20px;
} 

.linkalign {
    padding-bottom:5px
}

.card-img-pad {
    padding-top: 20px
}

h1 {
    font-size: 1.75em;
    margin-bottom: 0.5em
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

.sidefont {
    font-size: 13px;
}

.content aside {
    display: flex;
    flex-wrap: wrap;
}

.contetn b {
    font-size: 15px
}

.content li {
    font-size: 15px
}

.content strong {
    font-size: 15px
}   

ul {
    list-style-position: outside;
}

ol {
    list-style-position: outside;
}

:target::before {
    content: '';
    display: block;
    height:      80px;
    margin-top: -80px;
}

.sponsors {
    padding: 10px;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0px;
    margin-top: 0px;
}

h2.no-bottom {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.img-downs {
    margin-top: 5px;
}


/* zoom feature css */


.project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 10px;
  }
  
  .project-item { display: none; }
  
  .project-item.active {
    display: inline-table;
    animation: scaleUp 0.25s ease forwards;
  }
  
  @keyframes scaleUp {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
  }
  
  .project-item > a { width: 100%; }
  
  .project-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  
  .project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: var(--transition-1);
  }
  
  .project-item > a:hover .project-img::before { background: hsla(0, 0%, 0%, 0.5); }
  
  .project-item-icon-box {
    --scale: 0.8;
  
    background: var(--jet);
    color: var(--orange-yellow-crayola);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    font-size: 20px;
    padding: 18px;
    border-radius: 12px;
    opacity: 0;
    z-index: 1;
    transition: var(--transition-1);
  }
  
  .project-item > a:hover .project-item-icon-box {
    --scale: 1;
    opacity: 1;
  }
  
  .project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }
  
  .project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-1);
  }
  
  .project-item > a:hover img { transform: scale(1.1); }
  
  .project-title,
  .project-category { margin-left: 10px; }
  
  .project-title {
    color: var(--white-2);
    font-size: var(--fs-5);
    font-weight: var(--fw-400);
    text-transform: capitalize;
    line-height: 1.3;
  }
  
  .project-category {
    color: var(--light-gray-70);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
  } */
  

.t-pad {
   padding: 400px;
}

/* table styling */

  
  .project-item2 { display: none; }
  
  .project-item2.active {
    display: inline-table;
    scale: 90%;    
}
  
  .project-item2 > a { width: 75%; }
  
  /* .project-item2 > a:hover .project-img2::before { background: hsla(0, 0%, 0%, 0.5); } */
  
  
  .project-item2 > a:hover .project-item-icon-box2 {
    --scale: ;
    opacity: 1;
  }
  
  .project-item-icon-box2 ion-icon { --ionicon-stroke-width: ; }
  
  
  .project-item2 > a:hover img { transform: scale(1.1); }
  

  
